.principal-ud {
    font-weight: bold;
    text-align: center;
    color: rgb(16, 149, 216);
}

.principal-ud-online {
    font-weight: bold;
    text-align: center;
    color: rgb(16, 149, 216);
    background: whitesmoke;
    background-color: white;
    border-color: transparent;
}

.align-center-all {
    text-align: center;
}

.dropdown {
    font-weight: bold;
}

.dropdown-menu {
    background-color: transparent!important;
    font-weight: bold!important;
    width: 75%;
}

.dropdown-item {
    background-color: transparent!important;
    border: gray!important;
    font-weight: bold!important;
    width: 100%;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.215)!important;
    color: whitesmoke;
    font-weight: bold!important;
}

body {
    font-weight: bold;
}

ul {
    font-weight: bold;
    text-align: center!important;
}

ul li {
    font-weight: bold;
    text-align: center!important;
}

ul li a {
    font-weight: bold;
    text-align: center;
}

li {
    font-weight: bold;
}

.login {
    height: 100vh;
    background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: unset;
}

.logout {
    background-color: rgba(0, 0, 0, 0.420)!important;
    color: whitesmoke;
    font-weight: bold;
    font-size: 13px;
    background: transparent;
    text-align: center!important;
}

.logout:hover {
    background-image: linear-gradient(to right, #fc6d62 0, #fc5f51 0, #fa6c5c 21%, #f03c3c 52%, #e02323 78%, #b12a2a 100%);
    font-weight: bold;
    color: whitesmoke;
}

.apoyo-gradient-color {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.btn-gradient-color {
    border-color: #08c;
    background-color: rgba(0, 0, 0, 0.420)!important;
}

.btn-gradient-color:hover {
    background-image: linear-gradient(120deg, #08c 0%, #1b6ebb 100%);
    color: whitesmoke;
}

.btn-estudent-online {
    background-color: whitesmoke!important;
    font-weight: bold;
}

.btn-estudent-online:hover {
    background-image: linear-gradient(120deg, #08c 0%, #1b6ebb 100%);
    color: whitesmoke;
}

.btn-estudent {
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    color: #08c;
    border-color: #08c;
    text-align: center!important;
}

.btn-estudent:hover {
    background-image: linear-gradient(120deg, #08c 0%, #1b6ebb 100%);
    color: whitesmoke;
}

.btn-secondary-ud {
    font-weight: bold;
    text-align: center;
    color: rgb(250, 106, 87);
    background-color: whitesmoke!important;
}

.btn-secondary-ud:hover {
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(120deg, #df5841 0%, #d82b2b 100%);
    color: whitesmoke!important;
}

.scroll-pane {
    overflow-y: scroll;
    height: 500px;
}

.footer-color {
    color: whitesmoke!important;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.420)!important;
}

.footer-color-bar {
    background-color: rgba(0, 0, 0, 0.820)!important;
    color: gray!important;
    font-weight: bold;
}

.apoyo-gradient {
    color: #08c;
    height: 100vh;
    background-image: linear-gradient(45deg, #fd9785 0%, #fdd08d 100%);
    /*  
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover; 
    */
}


/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1100px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 700px;
    }
}

.top-nav-collapse {
    background: rgba(0, 0, 0, 0.315) !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: rgba(0, 0, 0, 0.315) !important;
    }
}

h6 {
    line-height: 1.7;
}


/* .fondo {
    background: ;
} */